<div class="container d-flex justify-content-center align-items-center vh-100">
  <nz-card class="w-100" nzBordered [nzBodyStyle]="{ padding: '24px' }">
    <div class="text-center mb-3">
      <h2>Subestación</h2>
    </div>

    <!-- Selección de Subestación -->
    <nz-row justify="center" gutter="16">
      <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="10" [nzXl]="6">
        <nz-form-item>
          <nz-form-control [nzErrorTip]="'Por favor, seleccione una subestación'">
            <nz-select
              id="subestacion-select"
              [(ngModel)]="tagSubestacion"
              nzPlaceHolder="Seleccione una subestación"
              (ngModelChange)="buscarSubestacion()"
            >
              <nz-option
                *ngFor="let tag of tagsSubestaciones"
                [nzLabel]="tag"
                [nzValue]="tag"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </nz-row>

    <!-- Mostrar la Ubicación seleccionada -->
    <nz-row justify="center" gutter="16" *ngIf="ubicacion">
      <div class="d-flex justify-content-center">
        <p>{{ ubicacion }}</p>
      </div>
    </nz-row>

    <!-- Selección de SPT1 y SPT2 -->
    <nz-row justify="center" gutter="16">
      <!-- SPT1 Selector and Image -->
      <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="10" [nzXl]="6">
        <nz-form-item>
          <nz-form-label nzFor="spt1-select">SPT1</nz-form-label>
          <nz-form-control [nzErrorTip]="'Por favor, seleccione una opción'">
            <nz-select
              id="spt1-select"
              [(ngModel)]="selectedOptionSpt1"
              (ngModelChange)="seleccionarOpcion('spt1', $event)"
              nzPlaceHolder="SPT1"
            >
              <nz-option nzValue="Protocolo" nzLabel="Formulario de Inspección"></nz-option>
              <nz-option nzValue="Historico" nzLabel="Historial"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div style="text-align: center; margin-top: 10px;">
          <img src="./assets/imagenspt1.png" alt="Imagen SPT1"  class="img-sistemas" >
        </div>
      </div>

      <!-- SPT2 Selector and Image -->
      <div nz-col [nzSm]="24" [nzMd]="24" [nzLg]="10" [nzXl]="6">
        <nz-form-item>
          <nz-form-label nzFor="spt2-select">SPT2</nz-form-label>
          <nz-form-control [nzErrorTip]="'Por favor, seleccione una opción'">
            <nz-select
              id="spt2-select"
              [(ngModel)]="selectedOptionSpt2"
              (ngModelChange)="seleccionarOpcion('spt2', $event)"
              nzPlaceHolder="SPT2"
            >
              <nz-option nzValue="Protocolo" nzLabel="Protocolo de Medicion"></nz-option>
              <nz-option nzValue="Historico" nzLabel="Historial"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <div style="text-align: center; margin-top: 10px;">
          <img src="./assets/imagenspt2.png" alt="Imagen SPT2" class="img-sistemas" >


        </div>
      </div>
    </nz-row>

  </nz-card>
</div>
