

    <div class="container">
      <div class="header">
        <h1>PLATAFORMA DE GESTIÓN DE MANTENIMIENTO</h1>
      </div>

      <div class="d-flex">
        <div class="login-container">
          <div> <img src="./assets/pdf/logo1.png" alt="Marcobre" class="marcobre-logo" /></div>
          <div class="main">
            <nz-tabset [(nzSelectedIndex)]="selectedIndex" >
              <!-- Pestaña de Inicio de sesión -->
              <nz-tab *ngIf="selectedIndex === 0" nzTitle="Inicio de sesión">
                <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()">
                  <nz-alert *ngIf="loginError" nzType="error" nzMessage="Cuenta o contraseña incorrecta" nzShowIcon style="margin-bottom: 24px;"></nz-alert>

                  <nz-form-item>
                    <nz-form-control nzErrorTip="¡Por favor, ingrese el nombre de usuario!">
                      <nz-input-group [nzPrefix]="userTpl" [nzSize]="'large'">
                        <input type="text" nz-input formControlName="usuario" placeholder="Usuario" />
                      </nz-input-group>
                      <ng-template #userTpl>
                        <i nz-icon nzType="user" nzTheme="outline" style="color: #1890ff;"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>

             

                  <nz-form-item>
                    <nz-form-control nzErrorTip="¡Por favor, ingrese la contraseña!">
                      <nz-input-group [nzPrefix]="lockTpl" [nzSuffix]="suffixTpl" [nzSize]="'large'">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="contrasena" placeholder="Clave" />
                      </nz-input-group>
                      <ng-template #lockTpl>
                        <i nz-icon nzType="lock" nzTheme="outline" style="color: #1890ff;"></i>
                      </ng-template>
                      <ng-template #suffixTpl>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="togglePasswordVisibility()" nzTheme="outline"></i>
                      </ng-template>
                    </nz-form-control>
                  </nz-form-item>

                  <div nz-row>
                    <div nz-col [nzSpan]="12">
                      <nz-form-item>
                        <nz-form-control>
                          <button nz-button class="login" [nzType]="'primary'" [nzSize]="'large'" [disabled]="loading" [nzLoading]="loading">Iniciar sesión</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="12" class="text-right" style="padding-top: 18px;">
                      <a (click)="onForgotPassword && onForgotPassword()">¿Olvidaste tu contraseña?</a>
                    </div>
                  </div>
                </form>

              </nz-tab>

              <!-- Pestaña de Recuperar Clave -->




              <nz-tab *ngIf="selectedIndex === 1" nzTitle="Recuperar Clave">
                <form nz-form [formGroup]="validateForm" class="login-form">
                  <nz-timeline>
                    <!-- Paso 1 -->
                    <nz-timeline-item [nzColor]="steps[0].color">
                      <h5 nz-typography>Ingrese su correo asociado a su usuario</h5>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="¡Por favor, ingrese su correo!">
                          <nz-input-group [nzPrefix]="userTpl" [nzSize]="'large'">
                            <input
                              type="text"
                              formControlName="correo"
                              nz-input
                              placeholder="Correo"
                              [disabled]="!steps[0].enabled"
                            />
                          </nz-input-group>
                          <ng-template #userTpl>
                            <i nz-icon nzType="mail" nzTheme="outline" style="color: #1890ff;"></i>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>

                      <button
                        (click)="enviarCorreo()"
                        type="button"
                        nz-button
                        [nzSize]="'large'"
                        class="w100"
                        [nzLoading]="isSpinning"
                        [disabled]="!steps[0].enabled"
                      >
                        Generar código
                      </button>
                    </nz-timeline-item>

                    <!-- Paso 2 -->
                    <nz-timeline-item [nzColor]="steps[1].color">
                      <h5 nz-typography>Ingrese el código enviado a su correo</h5>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="¡Por favor, ingrese el código enviado!">
                          <nz-input-group [nzPrefix]="mobileTpl" [nzSize]="'large'">
                            <input
                              type="text"
                              formControlName="codigoReset"
                              nz-input
                              placeholder="ejemplo:(1234)"
                              [disabled]="!steps[1].enabled"
                            />
                          </nz-input-group>
                          <ng-template #mobileTpl>
                            <i nz-icon nzType="mobile" nzTheme="outline" style="color: #1890ff;"></i>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>


                      <h5 nz-typography>Ingrese su nueva clave</h5>
                      <nz-form-item>
                        <nz-form-control nzErrorTip="¡Por favor, ingrese su nueva contraseña!">
                          <nz-input-group [nzPrefix]="lockTpl" [nzSize]="'large'">
                            <input
                              type="password"
                              formControlName="nuevaContrasena"
                              nz-input
                              placeholder="Nueva contraseña"
                              [disabled]="!steps[1].enabled"
                            />
                          </nz-input-group>
                          <ng-template #lockTpl>
                            <i nz-icon nzType="lock" nzTheme="outline" style="color: #1890ff;"></i>
                          </ng-template>
                        </nz-form-control>
                      </nz-form-item>

                      <button
                        (click)="restablecerContrasena()"
                        type="button"
                        nz-button
                        [nzSize]="'large'"
                        class="w100"
                        [nzLoading]="isSpinning"
                        [disabled]="!steps[1].enabled"
                      >
                        Cambiar clave
                      </button>
                    </nz-timeline-item>
                  </nz-timeline>



                  <!-- Botón para regresar -->
                  <div class="text-right" style="padding-top: 18px;">
                    <a (click)="goBack()">
                      <i
                        nz-icon
                        nzType="left"
                        nzTheme="outline"
                        style="font-size: 16px; color: #1890ff;"
                      ></i>
                      Regresar
                    </a>
                  </div>
                </form>
              </nz-tab>



            </nz-tabset>
          </div>
        </div>
        <div class="hex-grid">
          <img src="./assets/pdf/login_imagen.png" alt="Imagen 1" />


        </div>
        <div class="logos">

          <img src="./assets/pdf/logo2.png" alt="Mina Justa" class="mina-logo" />
        </div>
      </div>
    </div>








