


<div class="relative min-h-screen w-full overflow-hidden">
  <!-- Top left triangles -->
  <div class="absolute left-0 top-0 h-24 w-24">
    <div class="triangle blue"></div>
    <div class="triangle red smaller"></div>
    <div class="triangle white smallest"></div>
  </div>

  <!-- Top right triangles -->
  <div class="absolute right-0 top-0 h-24 w-24">
    <div class="triangle blue top-right"></div>
    <div class="triangle red smaller top-right"></div>
    <div class="triangle white smallest top-right"></div>
  </div>

  <!-- Bottom left triangles -->
  <div class="absolute bottom-0 left-0 h-24 w-24">
    <div class="triangle blue bottom-left"></div>
    <div class="triangle red smaller bottom-left"></div>
    <div class="triangle white smallest bottom-left"></div>
  </div>

  <!-- Bottom right triangles -->
  <div class="absolute bottom-0 right-0 h-24 w-24">
    <div class="triangle blue bottom-right"></div>
    <div class="triangle red smaller bottom-right"></div>
    <div class="triangle white smallest bottom-right"></div>
  </div>

  <!-- Your content -->
  <div class="relative z-10 p-8">
    <div class="content">
      <div class="top">
        <div class="header">
        </div>
      </div>

      <div class="main">
        <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="selectedChange($event)">
          <!-- Pestaña de Inicio de sesión -->
          <nz-tab *ngIf="selectedIndex === 0" nzTitle="Inicio de sesión">
            <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="login()">
              <nz-alert *ngIf="loginError" nzType="error" nzMessage="Cuenta o contraseña incorrecta" nzShowIcon style="margin-bottom: 24px;"></nz-alert>

              <nz-form-item>
                <nz-form-control nzErrorTip="¡Por favor, ingrese el nombre de usuario!">
                  <nz-input-group [nzPrefix]="userTpl" [nzSize]="'large'">
                    <input type="text" nz-input formControlName="usuario" placeholder="Usuario" />
                  </nz-input-group>
                  <ng-template #userTpl>
                    <i nz-icon nzType="user" nzTheme="outline" style="color: #1890ff;"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="¡Por favor, ingrese la contraseña!">
                  <nz-input-group [nzPrefix]="lockTpl" [nzSuffix]="suffixTpl" [nzSize]="'large'">
                    <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="contrasena" placeholder="Clave" />
                  </nz-input-group>
                  <ng-template #lockTpl>
                    <i nz-icon nzType="lock" nzTheme="outline" style="color: #1890ff;"></i>
                  </ng-template>
                  <ng-template #suffixTpl>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="togglePasswordVisibility()" nzTheme="outline"></i>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

              <div nz-row>
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-control>
                      <button nz-button class="login" [nzType]="'primary'" [nzSize]="'large'" [disabled]="loading" [nzLoading]="loading">Iniciar sesión</button>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12" class="text-right" style="padding-top: 18px;">
                  <a (click)="onForgotPassword()">¿Olvidaste tu contraseña?</a>
                </div>
              </div>
            </form>
            <!-- GIF debajo del botón -->
            <div class="gif-container">
              <img src="./assets/2.gif" alt="Cargando..." width="200px" height="400px" />
            </div>
          </nz-tab>

          <!-- Pestaña de Recuperar Clave -->
          <nz-tab *ngIf="selectedIndex === 1" nzTitle="Recuperar Clave">
            <form nz-form [formGroup]="validateForm" class="login-form">
              <nz-alert *ngIf="mobileLoginError" nzType="error" nzMessage="Código de verificación incorrecto (123456)" nzShowIcon style="margin-bottom: 24px;"></nz-alert>

              <ng-template #mobileTpl>
                <i nz-icon nzType="mobile" nzTheme="outline" style="color: #1890ff;"></i>
              </ng-template>
              <ng-template #mailTpl>
                <i nz-icon nzType="lock" nzTheme="outline" style="color: #1890ff;"></i>
              </ng-template>

              <nz-form-item>
                <nz-form-control [nzErrorTip]="mobileError">
                  <nz-input-group [nzPrefix]="mobileTpl" [nzSize]="'large'">
                    <input type="tel" nz-input placeholder="Ingrese el código que fue enviado a su correo" />
                  </nz-input-group>
                </nz-form-control>
                <ng-template #mobileError let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    ¡Por favor, ingrese el código enviado a su correo!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('matchMobile')">
                    ¡Formato de código incorrecto!
                  </ng-container>
                </ng-template>

              </nz-form-item>

              <nz-form-item>
                <nz-form-control nzErrorTip="¡Por favor, ingrese el código de verificación!">
                  <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="14">
                      <nz-input-group [nzPrefix]="mailTpl" [nzSize]="'large'">
                        <input nz-input placeholder="Nueva clave" />
                      </nz-input-group>
                    </div>
                    <div nz-col nzSpan="10">
                      <button type="button" nz-button [nzSize]="'large'" class="w100">Generar código</button>
                    </div>
                  </div>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <div nz-row [nzGutter]="8">
                    <div nz-col nzSpan="14">
                      <button nz-button class="login" [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="isSpinning">Recuperar clave</button>
                    </div>
                    <div nz-col nzSpan="10" style="padding-top: 18px;">
                      <a (click)="goBack()"><i nz-icon nzType="left" nzTheme="outline" style="font-size: 16px; color: #1890ff;"></i> Regresar</a>
                    </div>
                  </div>
                </nz-form-control>

              </nz-form-item>
            </form>
          </nz-tab>
        </nz-tabset>
      </div>
    </div>
  </div>
</div>
