<nz-header *ngIf="drawerInfo.content.header"
  [ngClass]="{'dark': siteStyle == 'dark', 'fixed': navigationInfo.header, 'collapsed': isCollapsed}"
  style="            overflow: hidden;
  width: 100%;
  position: fixed;
  left: 0;">

  <div>
    <img src="assets/pdf/spt1/img_02.png" alt="" width="80px">
  </div>

  <span
    class="trigger"
    nz-icon
    [nzType]="DashboardService.isCollapsed ? 'menu-unfold' : 'menu-fold'"
    (click)="toggleSidebar()" style="margin-left: 120px;"
  ></span>
  <div style="flex: 1 1 0%;"></div>

  <div class="header-right">
    <div *ngIf="mostrarNotificaciones" class="header-action header-bell"
         nz-dropdown [nzDropdownMenu]="menuBell"
         [nzTrigger]="'click'"
         [nzPlacement]="'bottomRight'"
         [nzOverlayClassName]="'dropdownBell'"
         nz-tooltip
         nzTooltipTitle="Notificacion"
         nzTooltipPlacement="bottom">

      <i nz-icon nzType="bell" nzTheme="outline"></i>
      <nz-badge [nzCount]="this.noticeList.length"></nz-badge>

      <nz-dropdown-menu #menuBell="nzDropdownMenu">
        <div class="bell-container">
          <nz-tabset [nzSelectedIndex]="0">

            <nz-tab [nzTitle]="'Pendiente' + ( '(' + this.noticeList.length + ')' )">
              <nz-list nzItemLayout="horizontl">
                <nz-list-item *ngFor="let item of noticeList" [class.read]="item.read" (click)="read(item)">
                  <nz-list-item-meta>
                    <nz-list-item-meta-avatar
                    (click)="item.id_pm1
                      ? pm1pdf(item.id_pm1)
                      : item.id_spt1
                        ? spt1pdf(item.id_spt1)
                        : spt2pdf(item.tag_subestacion, item.ot)">
                    <nz-avatar nzIcon="file-pdf" [nzSrc]="item?.avatar" style="color: orange;"></nz-avatar>
                  </nz-list-item-meta-avatar>


                    <nz-list-item-meta-title>{{item.title}}</nz-list-item-meta-title>
                    <nz-list-item-meta-description>{{item.time}}

                      <nz-tag [nzColor]="'#108ee9'" style="margin-left: 8px;" (click)="firmarNotificacion(item)">Firmar</nz-tag>
                      <nz-tag [nzColor]="'#cd201f'" (click)="eliminarNotificacion(item)">Eliminar</nz-tag>

                    </nz-list-item-meta-description>
                  </nz-list-item-meta>

                </nz-list-item>
                <nz-list-empty *ngIf="noticeList.length === 0" [nzNoResult]="noNoticeTpl"></nz-list-empty>
              </nz-list>
            </nz-tab>



            <nz-tab [nzTitle]="'Firmado' + ( '(' + this.FirmadoList.length+ ')')">
              <nz-list nzItemLayout="horizontal">
                <nz-list-item *ngFor="let item of FirmadoList"  (click)="read(item)">
                  <nz-list-item-meta>
                    <nz-list-item-meta-avatar
                (click)="item.id_pm1
                  ? pm1pdf(item.id_pm1)
                  : item.id_spt1
                    ? spt1pdf(item.id_spt1)
                    : spt2pdf(item.tag_subestacion, item.ot)">
                <nz-avatar nzIcon="file-pdf" [nzSrc]="item?.avatar" style="color: green;"></nz-avatar>
              </nz-list-item-meta-avatar>


                    <nz-list-item-meta-title>{{item.title}}</nz-list-item-meta-title>
                    <nz-list-item-meta-description>{{item.time}}</nz-list-item-meta-description>
                  </nz-list-item-meta>
                </nz-list-item>
                <nz-list-empty *ngIf="FirmadoList.length === 0" [nzNoResult]="noNoticeTpl"></nz-list-empty>
              </nz-list>
            </nz-tab>
          </nz-tabset>
        </div>
      </nz-dropdown-menu>
    </div>

    <i nz-icon nzType="logout" nzTheme="outline"
       nz-tooltip nzTooltipTitle="Cerrar Sesion" nzTooltipPlacement="bottom" (click)="logout()"></i>


    <ng-template #noNoticeTpl>
      <ng-container *ngTemplateOutlet="noResultTpl; context: {type: 'Has revisado todas las notificaciones'}"></ng-container>
    </ng-template>

    <ng-template #noMessageTpl>
      <ng-container *ngTemplateOutlet="noResultTpl; context: {type: 'Has revisado todos los mensajes'}"></ng-container>
    </ng-template>

    <ng-template #noTaskTpl>
      <ng-container *ngTemplateOutlet="noResultTpl; context: {type: 'Has revisado todas las tareas'}"></ng-container>
    </ng-template>

    <ng-template #noResultTpl let-type="type">
      <nz-empty [nzNotFoundImage]="'https://gw.alipayobjects.com/zos/rmsportal/sAuJeJzSKbUmHfBQRzmZ.svg'"
                [nzNotFoundContent]="type"></nz-empty>
    </ng-template>

  </div>
</nz-header>



<ng-template #pdfModal>
  <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
</ng-template>
