.custom-close-button {
  background-color: #f5222d;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 6px 12px;
  font-weight: bold;
  cursor: pointer;
}

.custom-close-button:hover {
  background-color: #cf1322;
}



/*my css*/
.column-color{
  background-color: #4d4d4d;
  color: #fff;
}
