
<!--<div class="d-flex align-items-center">
  <img src="assets/icons/transformer-bolt-64.webp"  alt="Icono Transformer" class="icon-class">
   <h4>Tranformadores</h4>
 </div>
 <div>
   <table id="example" class="display">
     <thead>
       <tr class="selected">
         <td class="sorting_1"></td>
       </tr>
     </thead>
     <tfoot>

     </tfoot>
     <tbody>

     </tbody>
   </table>
 </div>-->

 <!--<button nz-button nzType="default" (click)="exportToCSV()">Descargar CSV</button>
<button nz-button nzType="default" (click)="exportToExcel()">Descargar Excel</button>-->
<nz-table
  #basicTable
  [nzData]="filteredSpt2List"

  [nzBordered]="true"
  [nzFrontPagination]="false" [nzShowPagination]="false"

  [nzLoading]="loading"
  [nzTotal]="filteredSpt2List.length"
  class="small-text-table">
  <thead>
    <tr>
      <th nzColumnKey="tag_subestacion">
        Subestación
        <nz-input-group>
          <input nz-input [(ngModel)]="filterSubestacion" placeholder="Filtrar Subestación" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="ot">
        Ot
        <nz-input-group>
          <input nz-input [(ngModel)]="filterOt" placeholder="Filtrar Ot" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="fecha">
        Fecha
        <nz-input-group>
          <input nz-input [(ngModel)]="filterFecha" placeholder="Filtrar Fecha" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="tipo_metodo">
        Tipo de Método
        <nz-input-group>
          <input nz-input placeholder="Filtrar Método" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <!-- Pat1 to Pat4 columns with dynamic labels based on selected method -->
      <th nzColumnKey="pat1_sujecion">
        Pat1
        <nz-input-group>
          <input nz-input [(ngModel)]="filterohm_sujecion" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat2_sujecion">
        Pat2
        <nz-input-group>
          <input nz-input [(ngModel)]="filterohm_sujecion" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat3_sujecion">
        Pat3
        <nz-input-group>
          <input nz-input [(ngModel)]="filterohm_sujecion" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat4_sujecion">
        Pat4
        <nz-input-group>
          <input nz-input [(ngModel)]="filterohm_sujecion" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="lider">
        Líder
        <nz-input-group>
          <input nz-input [(ngModel)]="filterLider" placeholder="Filtrar Líder" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="supervisor">
        Supervisor
        <nz-input-group>
          <input nz-input [(ngModel)]="filterSupervisor" placeholder="Filtrar Supervisor" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="tendencia">Tendencia</th>
      <th nzColumnKey="firma">Documentos</th>
      <th *ngIf="mostrarHerramientas" nzColumnKey="herramientas">Herramientas</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of filteredSpt2List">
      <td>{{ item.tag_subestacion }}</td>
      <td>{{ item.ot }}</td>
      <td>{{ item.fecha }}</td>
      <!-- Tipo de Método Selector -->
    <td>
      <nz-select [(ngModel)]="item.tipo_metodo" (ngModelChange)="onMetodoChange(item)">
        <nz-option nzValue="SIN PICAS" nzLabel="SIN PICAS"></nz-option>
        <nz-option nzValue="METODO SELECTIVO" nzLabel="METODO SELECTIVO"></nz-option>
        <nz-option nzValue="METODO CAIDA" nzLabel="METODO CAIDA"></nz-option>
      </nz-select>
    </td>

    <!-- Pat1 -->
    <td>
      <span *ngIf="item.pat1">
        {{ item.pat1 }}
        <i nz-icon
           [nzType]="item.pat1 > 25 ? 'close-circle' : 'check-circle'"
           nzTheme="twotone"
           [nzTwotoneColor]="item.pat1 > 25 ? 'red' : 'green'">
        </i>
      </span>
    </td>

    <!-- Pat2 -->
    <td>
      <span *ngIf="item.pat2">
        {{ item.pat2 }}
        <i nz-icon
           [nzType]="item.pat2 > 25 ? 'close-circle' : 'check-circle'"
           nzTheme="twotone"
           [nzTwotoneColor]="item.pat2 > 25 ? 'red' : 'green'">
        </i>
      </span>
    </td>

    <!-- Pat3 -->
    <td>
      <span *ngIf="item.pat3">
        {{ item.pat3 }}
        <i nz-icon
           [nzType]="item.pat3 > 25 ? 'close-circle' : 'check-circle'"
           nzTheme="twotone"
           [nzTwotoneColor]="item.pat3 > 25 ? 'red' : 'green'">
        </i>
      </span>
    </td>

    <!-- Pat4 -->
    <td>
      <span *ngIf="item.pat4">
        {{ item.pat4 }}
        <i nz-icon
           [nzType]="item.pat4 > 25 ? 'close-circle' : 'check-circle'"
           nzTheme="twotone"
           [nzTwotoneColor]="item.pat4 > 25 ? 'red' : 'green'">
        </i>
      </span>
    </td>


      <td>{{ item.usuario_lider }}</td>
      <td>{{ item.usuario_supervisor || 'Sin supervisor' }}</td>
      <td>
        <button nz-button nzType="link" (click)="verTendencia(item)">
          <i nz-icon nzType="line-chart"></i>
        </button>
      </td>

       <!-- Icono de documentos con lógica de color -->
       <td>
        <button nz-button nzType="link" (click)="verDocumentos(item.id_spt2)">
          <i nz-icon nzType="file-pdf" nzTheme="twotone" [nzTwotoneColor]="item.firma === true ? 'green' : 'orange'"></i>
        </button>
      </td>


      <td *ngIf="mostrarHerramientas">
        <button nz-button nzType="link" (click)="eliminarRegistro(item.id_spt2)">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>



<ng-template #pdfModal>
  <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
</ng-template>
