
<!--<div class="d-flex align-items-center">
  <img src="assets/icons/transformer-bolt-64.webp"  alt="Icono Transformer" class="icon-class">
   <h4>Tranformadores</h4>
 </div>
 <div>
   <table id="example" class="display">
     <thead>
       <tr class="selected">
         <td class="sorting_1"></td>
       </tr>
     </thead>
     <tfoot>

     </tfoot>
     <tbody>

     </tbody>
   </table>
 </div>-->

 <!--<button nz-button nzType="default" (click)="exportToCSV()">Descargar CSV</button>
<button nz-button nzType="default" (click)="exportToExcel()">Descargar Excel</button>-->
<nz-table
  #basicTable
  [nzData]="filteredSpt2List"
  [nzFrontPagination]="false"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzScroll]="{ x: '1700px' }"
  [nzLoading]="loading"
  [nzTotal]="filteredSpt2List.length"
  class="small-text-table">
  <thead>
    <tr>
      <th nzColumnKey="tag_subestacion">
        Subestación
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterSubestacion" placeholder="Filtrar Subestación" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="ot">
        Ot
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterOt" placeholder="Filtrar Ot" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="fecha">
        Fecha
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterFecha" placeholder="Filtrar Fecha" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="tipo_metodo">
        Tipo de Método
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterTipoMetodo" placeholder="Filtrar Método" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat1_sujecion">
        Pat1
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterPat1_sujecion"  (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat2_sujecion">
        Pat2
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterPat2_sujecion"  (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat3_sujecion">
        Pat3
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterPat3_sujecion"  (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="pat4_sujecion">
        Pat4
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterPat4_sujecion"  (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="lider">
        Líder
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterLider" placeholder="Filtrar Líder" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>
      <th nzColumnKey="supervisor">
        Supervisor
        <nz-input-group [nzSuffix]="suffixButton">
          <input nz-input [(ngModel)]="filterSupervisor" placeholder="Filtrar Supervisor" (ngModelChange)="applyFilter()" />
        </nz-input-group>
      </th>

      <th nzColumnKey="tendencia">Tendencia</th>
      <th nzColumnKey="firma">Documentos</th>
      <th *ngIf="mostrarHerramientas" nzColumnKey="herramientas">Herramientas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredSpt2List.slice((pageIndex - 1) * pageSize, pageIndex * pageSize)">
      <td>{{ item.tag_subestacion }}</td>
      <td>{{ item.ot }}</td>
      <td>{{ item.fecha }}</td>
      <td>
        <nz-select [(ngModel)]="item.tipo_metodo" (ngModelChange)="onMetodoChange(item)">
          <nz-option nzValue="SIN PICAS" nzLabel="SIN PICAS"></nz-option>
          <nz-option nzValue="METODO SELECTIVO" nzLabel="METODO SELECTIVO"></nz-option>
          <nz-option nzValue="METODO CAIDA" nzLabel="METODO CAIDA"></nz-option>
        </nz-select>
      </td>


      <td>
        <span *ngIf="item.pat1_sujecion !== null && item.pat1_sujecion !== undefined && item.pat1_sujecion !== '' && item.pat1_sujecion !== 0">
          {{ item.pat1_sujecion }}
          <i nz-icon
             [nzType]="item.pat1_sujecion > 25 ? 'close-circle' : 'check-circle'"
             nzTheme="twotone"
             [nzTwotoneColor]="item.pat1_sujecion > 25 ? 'red' : 'green'">
          </i>
        </span>
      </td>

      <td>
        <span *ngIf="item.pat2_sujecion !== null && item.pat2_sujecion !== undefined && item.pat2_sujecion !== '' && item.pat2_sujecion !== 0">
          {{ item.pat2_sujecion }}
          <i nz-icon
             [nzType]="item.pat2_sujecion > 25 ? 'close-circle' : 'check-circle'"
             nzTheme="twotone"
             [nzTwotoneColor]="item.pat2_sujecion > 25 ? 'red' : 'green'">
          </i>
        </span>
      </td>

      <td>
        <span *ngIf="item.pat3_sujecion !== null && item.pat3_sujecion !== undefined && item.pat3_sujecion !== '' && item.pat3_sujecion !== 0">
          {{ item.pat3_sujecion }}
          <i nz-icon
             [nzType]="item.pat3_sujecion > 25 ? 'close-circle' : 'check-circle'"
             nzTheme="twotone"
             [nzTwotoneColor]="item.pat3_sujecion > 25 ? 'red' : 'green'">
          </i>
        </span>
      </td>

      <td>
        <span *ngIf="item.pat4_sujecion !== null && item.pat4_sujecion !== undefined && item.pat4_sujecion !== '' && item.pat4_sujecion !== 0">
          {{ item.pat4_sujecion }}
          <i nz-icon
             [nzType]="item.pat4_sujecion > 25 ? 'close-circle' : 'check-circle'"
             nzTheme="twotone"
             [nzTwotoneColor]="item.pat4_sujecion > 25 ? 'red' : 'green'">
          </i>
        </span>
      </td>






      <td>{{ item.usuario_lider }}</td>
      <td>{{ item.usuario_supervisor || 'Sin supervisor' }}</td>
      <td>
        <button nz-button nzType="link" (click)="verTendencia(item)">
          <i nz-icon nzType="line-chart"></i>
        </button>
      </td>

       <!-- Icono de documentos con lógica de color -->
       <td>
        <button nz-button nzType="link" (click)="verDocumentos(item.id_spt2)">
          <i nz-icon nzType="file-pdf" nzTheme="twotone" [nzTwotoneColor]="item.firma === true ? 'green' : 'orange'"></i>
        </button>
      </td>


      <td *ngIf="mostrarHerramientas">
        <button nz-button nzType="link" (click)="eliminarRegistro(item.id_spt2)">
          <i nz-icon nzType="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>



<ng-template #pdfModal>
  <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
</ng-template>
