<!--<div class="panela">

  <div class="panel-body">
    <div nz-row nzAlign="middle">
      <div nz-col>
        <img src="assets/icons/fa-transformer-bolt-dark.ico" alt="Icono" style="width: 35px; height: 35px;">
      </div>
      <div nz-col>
        <h4>{{ transformador }}</h4>
      </div>
    </div>

    <div id="search">

      <div nz-row nzGutter="16">
        <nz-collapse>
          <nz-collapse-panel
            [nzShowArrow]="false"
            [nzHeader]="panelHeaderTemplate"
            [nzActive]="true"
            nzClass="custom-panel"
          >
            <ng-template #panelHeaderTemplate>
              <div nz-row nzAlign="middle">
                <div nz-col>
                  <img src="assets/icons/fa-transformer-bolt.ico" alt="Icono" style="width: 25px; height: 25px;">
                </div>
                <div nz-col>
                  <span class="panel-title" style="margin-left: 10px;">Datos del Transformador</span>
                </div>
              </div>
            </ng-template>

            <div nz-row nzGutter="16">

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="TAG" nzDescription="{{ transformador }}"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Voltaje" nzDescription="{{ voltage }}"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Potencia" nzDescription="{{ potencia }}"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Fabricación - Edad" nzDescription="1998 - 26 años"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Índice de Salud" nzDescription="100%"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta
                    nzTitle="Estado"
                    nzDescription="Muy Bueno <i nz-icon nzType='check-circle' nzTheme='outline' nzTwotoneColor='#52c41a'></i>"
                  ></nz-card-meta>
                </nz-card>
              </div>

            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>

    </div>
  </div>

</div>



<nz-tabset nzType="card" class="tabview-custom">
  <nz-tab nzTitle="Resumen">
    <div class="panela">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa-solid fa-syringe'></i> PM1"
                nzClass="panel-heading-a"
                (click)="abrirDashboard()"
              >
              <span>a</span>
              <div class="container">
                <table id="example" class="display" style="table-layout: fixed; width: 100%;">
                  <thead>


                  </thead>
                </table>
              </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa fa-bong'></i> PM2"
                nzClass="panel-heading-a"
              >
                <div class="container">
                  <p>Contenido específico para PM2.</p>
                  <p>Más detalles e información relevante aquí.</p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa-solid fa-hourglass'></i> Timer 1"
                nzClass="panel-heading-a"
              >
                <div class="container">
                  <p>Información relacionada con Timer 1.</p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa-solid fa-hourglass'></i> Timer 2"
                nzClass="panel-heading-a"
              >
                <div class="container">
                  <p>Información relacionada con Timer 2.</p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>
      </nz-row>




    </div>
  </nz-tab>

  <nz-tab nzTitle="PM1">
    <div class="flex align-items-center gap-2">
      <li class="nav-item ps-1">
        <a class="nav-link active text-"><i class="fa-solid fa-syringe"></i> PM1</a>
      </li>
    </div>
  </nz-tab>

  <nz-tab nzTitle="PM2">
    <div class="flex align-items-center gap-2">
      <li class="nav-item">
        <a href="/physical_management/transformer/6/physicals" class="nav-link">
          <i class="fa fa-bong"></i> PM2
        </a>
      </li>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Pruebas Eléctricas">
    <div class="flex align-items-center gap-2">
      <li class="nav-item">
        <a href="/electrical_management/transformer/6/electricals" class="nav-link">
          <i class="fa-solid fa-bolt"></i> Pruebas Eléctricas
        </a>
      </li>
    </div>
  </nz-tab>
</nz-tabset>-->









<!---
  <p-tabView styleClass="tabview-custom">

    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <li class="nav-item ps-1">
                <a class="nav-link active text- " style="color: black !important;"><i class="fa-solid fa-circle-info"></i> Resumen </a>
              </li>
            </div>
        </ng-template>
               <div class="panela">

          <div class="row">

            <div class="col-xl-6 table-responsive ui-sortable">
              <div class="card flex justify-content-center">
                <p-panel [toggleable]="true" class="custom-panel">
                  <ng-template pTemplate="header">
                    <a class="panel-heading-a" title="Ir a Tendencias" (click)="abrirDashboard()" style="color: white !important;">
                      <i class="fa-solid fa-syringe"></i> PM1
                    </a>
                  </ng-template>
                  <div class="container">
                    <table id="example" class="display" style="table-layout: fixed; width: 100%;">
                      <thead>


                      </thead>
                    </table>
                  </div>
                </p-panel>
              </div>











          </div>

            <div class="col-xl-6 table-responsive ui-sortable">
              <div class="card flex justify-content-center">
              <p-panel [toggleable]="true" class="custom-panel">
                <ng-template pTemplate="header">
                  <a  class="panel-heading-a" title="Ir a Tendencias" style="color: white !important;">
                    <i class="fa fa-bong"></i> PM2
                  </a>
                </ng-template>
                <div class="container">

                </div>
              </p-panel>
            </div>
            </div>

            <div class="col-xl-6 table-responsive ui-sortable">

              <div class="card flex justify-content-center">
                <p-panel [toggleable]="true" class="custom-panel">
                  <ng-template pTemplate="header">
                    <a  class="panel-heading-a" title="Ir a Tendencias" style="color: white !important;">
                      <i class="fa-solid fa-hourglass"></i>
                    </a>
                  </ng-template>
                  <div class="container">

                  </div>
                </p-panel>
              </div>
            </div>
            <div class="col-xl-6 table-responsive ui-sortable">
              <div class="card flex justify-content-center">
                <p-panel [toggleable]="true" class="custom-panel">
                  <ng-template pTemplate="header">
                    <a  class="panel-heading-a" title="Ir a Tendencias" style="color: white !important;">
                      <i class="fa-solid fa-hourglass"></i>
                    </a>
                  </ng-template>
                  <div class="container">

                  </div>
                </p-panel>
              </div>
            </div>

          </div>


              </div>
        </p-tabPanel>


        <p-tabPanel>
          <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <li class="nav-item ps1">
                  <a  class="nav-link active text-"   >
                        <i class="fa-solid fa-syringe"></i>PM1 </a>
                </li>
              </div>
          </ng-template>

          </p-tabPanel>

          <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <li class="nav-item">
                    <a href="/physical_management/transformer/6/physicals" class="nav-link">
                          <i class="fa fa-bong"></i> PM2</a>
                  </li>
                </div>
            </ng-template>

            </p-tabPanel>


            <p-tabPanel>
              <ng-template pTemplate="header">
                  <div class="flex align-items-center gap-2">
                    <li class="nav-item">
                      <a href="/electrical_management/transformer/6/electricals" class="nav-link ">
                            <i class="fa-solid fa-bolt"></i> Pruebas Eléctricas</a>
                    </li>
                  </div>
              </ng-template>

              </p-tabPanel>


</p-tabView>





    </div>-->





    <h1>{{ transformador }}</h1>
    <!-- Contenedor Principal con Tarjeta de Información del Transformador -->
    <nz-card nzTitle="Datos del Transformador" class="card-header ">
      <div nz-row nzJustify="start" nzAlign="middle">
        <!-- Información Básica del Transformador con animaciones -->
        <div nz-col [nzSpan]="3" class="data-container card-style">
          <nz-statistic [nzTitle]="'TAG'" [nzValue]="transformador" class="animated-entry"></nz-statistic>
        </div>
        <div nz-col [nzSpan]="3" class="data-container card-style">
          <nz-statistic [nzTitle]="'Voltaje'" [nzValue]="voltage" class="animated-entry"></nz-statistic>
        </div>
        <div nz-col [nzSpan]="3" class="data-container card-style">
          <nz-statistic [nzTitle]="'Potencia'" [nzValue]="potencia" class="animated-entry"></nz-statistic>
        </div>
        <div nz-col [nzSpan]="4" class="data-container card-style">
          <nz-statistic [nzTitle]="'Fabricación - Edad'" [nzValue]="'2017 - 7 años'" class="animated-entry"></nz-statistic>
        </div>
        <div nz-col [nzSpan]="4" class="data-container card-style">
          <nz-statistic [nzTitle]="'Índice de Salud'" [nzValue]="'100%'" class="health-status animated-entry"></nz-statistic>
        </div>
        <div nz-col [nzSpan]="4" class="data-container card-style">
          <p class="health-status animated-entry" style="    margin-bottom: 4px;
          color: rgba(0, 0, 0, 0.45);
          font-size: 14px;">Estado</p>
          <div class="d-flex health-status animated-entry">
            <span style="    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);">Muy bueno</span>
            <i nz-icon nzType="check-circle" nzTheme="fill" style="color: green; margin-left: 8px;"></i>
          </div>
        </div>
      </div>
    </nz-card>



<!-- Tabs de Secciones (Resumen, Análisis, Furanos, etc.) -->
<nz-tabset nzType="card" class="tab-container custom-card">


  <nz-tab [nzTitle]="titleTemplate1" class="custom-card">
    <ng-template #titleTemplate1>
      <i nz-icon nzType="info-circle" nzTheme="outline"></i>
      Resumen
    </ng-template>
    <!-- Contenido del tab Resumen -->

    <div class="grid-container">
      <!-- Sección de Análisis Cromatográfico -->
    <nz-card class="custom-card">
       <div (click)="abrirDashboard()">
         <i class="fa-solid fa-syringe" style="margin-right: 8px;"></i>
         <span>PM1</span>
       </div>
       <nz-table #basicTable [nzData]="datos" [nzScroll]="{ x: '300px', y: '300px' }">
        <thead>
          <tr>
            <th>
              Fecha
              <nz-input-group >
                <input nz-input [(ngModel)]="filterFecha" placeholder="Filtrar Fecha" (ngModelChange)="applyFilter()" />
              </nz-input-group>

            </th>
            <th>
              OT
              <nz-input-group >
                <input nz-input [(ngModel)]="filterOT" placeholder="Filtrar OT" (ngModelChange)="applyFilter()" />
              </nz-input-group>

            </th>
            <th>
              Lider
              <nz-input-group >
                <input nz-input [(ngModel)]="filterLider" placeholder="Filtrar Lider" (ngModelChange)="applyFilter()" />
              </nz-input-group>

            </th>
            <th>
              Supervisor
              <nz-input-group >
                <input nz-input [(ngModel)]="filterSupervisor" placeholder="Filtrar Supervisor" (ngModelChange)="applyFilter()" />
              </nz-input-group>

            </th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dato of filteredData">
            <td>{{ dato.fecha }}</td>
            <td>{{ dato.orden_trabajo }}</td>
            <td>{{ dato.usuario }}</td>
            <td>{{ dato.usuario_2 }}</td>
            <td>
              <button nz-button nzType="default" class="ver-btn" (click)="abrirpdf(dato.id_pm1)">
                <i nz-icon nzType="file-pdf" [nzTheme]="dato.firma ? 'fill' : 'outline'" [ngStyle]="{ color: dato.firma ? 'green' : 'orange' }"></i>

              </button>
              <button nz-button nzType="danger" class="eliminar-btn" (click)="eliminarRegistro(dato.id_pm1)">
                <i nz-icon nzType="delete"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>

    <!-- Sección de Análisis Físico Químico -->
    <nz-card class="custom-card">
     <div>
       <i class="fa fa-bong" style="margin-right: 8px;"></i>
       <span>PM2</span>
     </div>
     <!--<table class="table table-striped">
       <thead>
         <tr>
           <th>Parámetro</th>
           <th>Límite</th>
           <th>Valor</th>
           <th>Estado</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td>Número Ácido ASTM D974</td>
           <td>Máx. 0.15 mgKOH/g</td>
           <td>0.01</td>
           <td><nz-tag nzColor="green">Bueno</nz-tag></td>
         </tr>
         <tr>
           <td>Factor de Potencia ASTM D924 (25°C)</td>
           <td>Máx. 0.5 %</td>
           <td>0.002</td>
           <td><nz-tag nzColor="green">Bueno</nz-tag></td>
         </tr>
         <tr>
           <td>Factor de Potencia ASTM D924 (100°C)</td>
           <td>Máx. 5 %</td>
           <td>0.09</td>
           <td><nz-tag nzColor="green">Bueno</nz-tag></td>
         </tr>
         <tr>
           <td>Rigidez Dieléctrica ASTM D1816</td>
           <td>Min. 47 kV/2.0mm</td>
           <td>73.0</td>
           <td><nz-tag nzColor="green">Bueno</nz-tag></td>
         </tr>
         <tr>
           <td>Tensión Interfacial ASTM D971</td>
           <td>Min. 30 mN/m</td>
           <td>47.0</td>
           <td><nz-tag nzColor="green">Bueno</nz-tag></td>
         </tr>
         <tr>
           <td>Contenido de Agua ASTM D1533</td>
           <td>Máx. 25 ppm</td>
           <td>15</td>
           <td><nz-tag nzColor="green">Bueno</nz-tag></td>
         </tr>
       </tbody>
     </table>-->
    </nz-card>

    <nz-card nzTitle="" class="custom-card"> <i class="fa-solid fa-hourglass"></i>

    </nz-card>

    <nz-card class="custom-card">
     <div>
       <i class="fa-solid fa-bolt" style="margin-right: 8px;"></i>
       <span>Pruebas Eléctricas</span>
     </div>
    </nz-card>

    </div>
  </nz-tab>

  <!-- Otras pestañas (Análisis Cromatográfico, Análisis Físico Químico, etc.) -->

  <nz-tab [nzTitle]="titleTemplate2" class="custom-card">
    <ng-template #titleTemplate2>
      <i class="fa-solid fa-syringe" style="margin-right: 8px;"></i>
      PM1
    </ng-template>
    <!-- Contenido del tab Resumen -->
  </nz-tab>

  <nz-tab [nzTitle]="titleTemplate3" class="custom-card">
    <ng-template #titleTemplate3>
      <i class="fa fa-bong" style="margin-right: 8px;"></i>
      PM2
    </ng-template>
    <!-- Contenido del tab Resumen -->
  </nz-tab>

  <nz-tab [nzTitle]="titleTemplate4" class="custom-card">
    <ng-template #titleTemplate4>
      <i nz-icon nzType="thunderbolt" nzTheme="outline"></i>
      Pruebas Eléctricas
    </ng-template>
    <!-- Contenido del tab Resumen -->
  </nz-tab>


</nz-tabset>

<ng-template #pesoDeFactorExtra>
  <div>
    Peso de Factor: 40 %
  </div>
</ng-template>























<ng-template #pdfModal>
  <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
</ng-template>

































