<!--<div class="panela">

  <div class="panel-body">
    <div nz-row nzAlign="middle">
      <div nz-col>
        <img src="assets/icons/fa-transformer-bolt-dark.ico" alt="Icono" style="width: 35px; height: 35px;">
      </div>
      <div nz-col>
        <h4>{{ transformador }}</h4>
      </div>
    </div>

    <div id="search">

      <div nz-row nzGutter="16">
        <nz-collapse>
          <nz-collapse-panel
            [nzShowArrow]="false"
            [nzHeader]="panelHeaderTemplate"
            [nzActive]="true"
            nzClass="custom-panel"
          >
            <ng-template #panelHeaderTemplate>
              <div nz-row nzAlign="middle">
                <div nz-col>
                  <img src="assets/icons/fa-transformer-bolt.ico" alt="Icono" style="width: 25px; height: 25px;">
                </div>
                <div nz-col>
                  <span class="panel-title" style="margin-left: 10px;">Datos del Transformador</span>
                </div>
              </div>
            </ng-template>

            <div nz-row nzGutter="16">

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="TAG" nzDescription="{{ transformador }}"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Voltaje" nzDescription="{{ voltage }}"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Potencia" nzDescription="{{ potencia }}"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Fabricación - Edad" nzDescription="1998 - 26 años"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta nzTitle="Índice de Salud" nzDescription="100%"></nz-card-meta>
                </nz-card>
              </div>

              <div nz-col nzSpan="4">
                <nz-card nzBordered="false" nzBodyStyle="{ padding: '12px' }">
                  <nz-card-meta
                    nzTitle="Estado"
                    nzDescription="Muy Bueno <i nz-icon nzType='check-circle' nzTheme='outline' nzTwotoneColor='#52c41a'></i>"
                  ></nz-card-meta>
                </nz-card>
              </div>

            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>

    </div>
  </div>

</div>



<nz-tabset nzType="card" class="tabview-custom">
  <nz-tab nzTitle="Resumen">
    <div class="panela">
      <nz-row [nzGutter]="16">
        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa-solid fa-syringe'></i> PM1"
                nzClass="panel-heading-a"
                (click)="abrirDashboard()"
              >
              <span>a</span>
              <div class="container">
                <table id="example" class="display" style="table-layout: fixed; width: 100%;">
                  <thead>


                  </thead>
                </table>
              </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa fa-bong'></i> PM2"
                nzClass="panel-heading-a"
              >
                <div class="container">
                  <p>Contenido específico para PM2.</p>
                  <p>Más detalles e información relevante aquí.</p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa-solid fa-hourglass'></i> Timer 1"
                nzClass="panel-heading-a"
              >
                <div class="container">
                  <p>Información relacionada con Timer 1.</p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>

        <nz-col [nzSpan]="12">
          <nz-card class="custom-panel">
            <nz-collapse>
              <nz-collapse-panel
                [nzActive]="true"
                [nzShowArrow]="false"
                nzHeader="<i class='fa-solid fa-hourglass'></i> Timer 2"
                nzClass="panel-heading-a"
              >
                <div class="container">
                  <p>Información relacionada con Timer 2.</p>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </nz-col>
      </nz-row>




    </div>
  </nz-tab>

  <nz-tab nzTitle="PM1">
    <div class="flex align-items-center gap-2">
      <li class="nav-item ps-1">
        <a class="nav-link active text-"><i class="fa-solid fa-syringe"></i> PM1</a>
      </li>
    </div>
  </nz-tab>

  <nz-tab nzTitle="PM2">
    <div class="flex align-items-center gap-2">
      <li class="nav-item">
        <a href="/physical_management/transformer/6/physicals" class="nav-link">
          <i class="fa fa-bong"></i> PM2
        </a>
      </li>
    </div>
  </nz-tab>

  <nz-tab nzTitle="Pruebas Eléctricas">
    <div class="flex align-items-center gap-2">
      <li class="nav-item">
        <a href="/electrical_management/transformer/6/electricals" class="nav-link">
          <i class="fa-solid fa-bolt"></i> Pruebas Eléctricas
        </a>
      </li>
    </div>
  </nz-tab>
</nz-tabset>-->





<div class="panela">
  <!-- Panel body -->
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="24" class="d-flex align-items-center">
      <!--<img src="assets/icons/fa-transformer-bolt-dark.ico" alt="" style="width: 2.5%; height: 35px;">-->
      <h4>{{ transformador }}</h4>
    </div>

    <div nz-col nzSpan="24" class="d-flex align-items-center">
      <!-- Panel información -->
      <nz-collapse>
        <nz-collapse-panel [nzHeader]="headerTpl" [nzShowArrow]="false" [nzActive]="true">
          <ng-template #headerTpl>
           <!--- <img src="assets/icons/fa-transformer-bolt.ico" alt="" style="width: 2%; height: 25px;">-->
            <div class="panel-title">Datos del Transformador</div>
          </ng-template>
          <div class="container">
            <div class="panel-body">
              <!--begin row inside cols -->
              <div class="row">
                <!--begin col 2 -->
                <div class="col-md-2">
                  <div class="card-panel-body card border-0 bg-light mb-2" >
                    <div class="card-body">
                      <h6 class="card-title text-muted">TAG</h6>
                      <small class="card-subtitle mb-10px text-semi-bold">{{ transformador }}</small>
                    </div>
                  </div>
                </div>
                <!--end col 2 -->
                <!--begin col 2 -->
                <div class="col-md-2">
                  <div class="card-panel-body card border-0 bg-light mb-2">
                    <div class="card-body">
                      <h6 class="card-title text-muted">Voltaje</h6>
                      <small class="card-subtitle mb-10px text-semi-bold">{{ voltage }}</small>
                    </div>
                  </div>
                </div>
                <!--end col 2 -->
                <!--begin col 2 -->
                <div class="col-md-2">
                  <div class="card-panel-body card border-0 bg-light mb-2">
                    <div class="card-body">
                      <h6 class="card-title text-muted">Potencia</h6>
                      <small class="card-subtitle mb-10px text-semi-bold">{{ potencia }}</small>
                    </div>
                  </div>
                </div>
                <!--end col 2 -->
                <!--begin col 2 -->
                <div class="col-md-2">
                  <div class="card-panel-body card border-0 bg-light mb-2">
                    <div class="card-body">
                      <h6 class="card-title text-muted">Fabricación - Edad</h6>
                      <small class="card-subtitle mb-10px text-semi-bold">1998  - 26 años</small>
                    </div>
                  </div>
                </div>
                <!--end col 2 -->
                <!--begin col 2 -->
                <div class="col-md-2">
                  <div class="card-panel-body  card border-0 bg-light mb-2">
                    <div class="card-body">
                      <h6 class="card-title text-muted">Índice de Salud    </h6>
                      <small class="card-subtitle mb-10px text-semi-bold">
                        <span data-animation="number" data-value="100  ">100  </span> %
                        </small>
                    </div>
                  </div>
                </div>
                <!--end col 2 -->
                <!--begin col 2 -->
                <div class="col-md-2">
                  <div class="card-panel-body card border-0 bg-light mb-2">
                    <div class="card-body">
                      <h6 class="card-title text-muted">Estado  </h6>
                      <small class="card-subtitle mb-10px text-semi-bold">
                        Muy Bueno
                        <i class="fa fa-circle fa-fw text-green me-2 fs-17px text-success"></i> </small>
                    </div>
                  </div>
                </div>
                <!--end col 2 -->
              </div>
              <!--end row inside cols -->
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>

  <!-- Tabs -->
  <nz-tabset>
    <nz-tab nzTitle="Resumen">
      <div class="panela">
        <div nz-row nzGutter="16">
          <!-- PM1 Panel -->
          <nz-col nzSpan="12">
            <nz-card nzTitle="PM1" [nzExtra]="extraTpl1">
              <ng-template #extraTpl1>
                <a title="Ir a Tendencias" (click)="abrirDashboard()" style="color: white;">
                  <i class="fa-solid fa-syringe"></i>
                </a>
              </ng-template>
              <table id="example" class="display" style="table-layout: fixed; width: 100%;">
                <thead></thead>
              </table>
            </nz-card>
          </nz-col>

          <!-- PM2 Panel -->
          <nz-col nzSpan="12">
            <nz-card nzTitle="PM2" [nzExtra]="extraTpl2">
              <ng-template #extraTpl2>
                <a title="Ir a Tendencias" style="color: white;">
                  <i class="fa fa-bong"></i>
                </a>
              </ng-template>
            </nz-card>
          </nz-col>

          <!-- Another Panel -->
          <nz-col nzSpan="12">
            <nz-card nzTitle="Other" [nzExtra]="extraTpl3">
              <ng-template #extraTpl3>
                <a title="Ir a Tendencias" style="color: white;">
                  <i class="fa-solid fa-hourglass"></i>
                </a>
              </ng-template>
            </nz-card>
          </nz-col>

          <!-- Another Panel -->
          <nz-col nzSpan="12">
            <nz-card nzTitle="Other" [nzExtra]="extraTpl4">
              <ng-template #extraTpl4>
                <a title="Ir a Tendencias" style="color: white;">
                  <i class="fa-solid fa-hourglass"></i>
                </a>
              </ng-template>
            </nz-card>
          </nz-col>
        </div>
      </div>
    </nz-tab>

    <nz-tab nzTitle="PM1">
      <a class="nav-link">
        <i class="fa-solid fa-syringe"></i> PM1
      </a>
    </nz-tab>

    <nz-tab nzTitle="PM2">
      <a class="nav-link" href="/physical_management/transformer/6/physicals">
        <i class="fa fa-bong"></i> PM2
      </a>
    </nz-tab>

    <nz-tab nzTitle="Pruebas Eléctricas">
      <a class="nav-link" href="/electrical_management/transformer/6/electricals">
        <i class="fa-solid fa-bolt"></i> Pruebas Eléctricas
      </a>
    </nz-tab>
  </nz-tabset>
</div>




<!---
  <p-tabView styleClass="tabview-custom">

    <p-tabPanel>
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
              <li class="nav-item ps-1">
                <a class="nav-link active text- " style="color: black !important;"><i class="fa-solid fa-circle-info"></i> Resumen </a>
              </li>
            </div>
        </ng-template>
               <div class="panela">

          <div class="row">

            <div class="col-xl-6 table-responsive ui-sortable">
              <div class="card flex justify-content-center">
                <p-panel [toggleable]="true" class="custom-panel">
                  <ng-template pTemplate="header">
                    <a class="panel-heading-a" title="Ir a Tendencias" (click)="abrirDashboard()" style="color: white !important;">
                      <i class="fa-solid fa-syringe"></i> PM1
                    </a>
                  </ng-template>
                  <div class="container">
                    <table id="example" class="display" style="table-layout: fixed; width: 100%;">
                      <thead>


                      </thead>
                    </table>
                  </div>
                </p-panel>
              </div>











          </div>

            <div class="col-xl-6 table-responsive ui-sortable">
              <div class="card flex justify-content-center">
              <p-panel [toggleable]="true" class="custom-panel">
                <ng-template pTemplate="header">
                  <a  class="panel-heading-a" title="Ir a Tendencias" style="color: white !important;">
                    <i class="fa fa-bong"></i> PM2
                  </a>
                </ng-template>
                <div class="container">

                </div>
              </p-panel>
            </div>
            </div>

            <div class="col-xl-6 table-responsive ui-sortable">

              <div class="card flex justify-content-center">
                <p-panel [toggleable]="true" class="custom-panel">
                  <ng-template pTemplate="header">
                    <a  class="panel-heading-a" title="Ir a Tendencias" style="color: white !important;">
                      <i class="fa-solid fa-hourglass"></i>
                    </a>
                  </ng-template>
                  <div class="container">

                  </div>
                </p-panel>
              </div>
            </div>
            <div class="col-xl-6 table-responsive ui-sortable">
              <div class="card flex justify-content-center">
                <p-panel [toggleable]="true" class="custom-panel">
                  <ng-template pTemplate="header">
                    <a  class="panel-heading-a" title="Ir a Tendencias" style="color: white !important;">
                      <i class="fa-solid fa-hourglass"></i>
                    </a>
                  </ng-template>
                  <div class="container">

                  </div>
                </p-panel>
              </div>
            </div>

          </div>


              </div>
        </p-tabPanel>


        <p-tabPanel>
          <ng-template pTemplate="header">
              <div class="flex align-items-center gap-2">
                <li class="nav-item ps1">
                  <a  class="nav-link active text-"   >
                        <i class="fa-solid fa-syringe"></i>PM1 </a>
                </li>
              </div>
          </ng-template>

          </p-tabPanel>

          <p-tabPanel>
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                  <li class="nav-item">
                    <a href="/physical_management/transformer/6/physicals" class="nav-link">
                          <i class="fa fa-bong"></i> PM2</a>
                  </li>
                </div>
            </ng-template>

            </p-tabPanel>


            <p-tabPanel>
              <ng-template pTemplate="header">
                  <div class="flex align-items-center gap-2">
                    <li class="nav-item">
                      <a href="/electrical_management/transformer/6/electricals" class="nav-link ">
                            <i class="fa-solid fa-bolt"></i> Pruebas Eléctricas</a>
                    </li>
                  </div>
              </ng-template>

              </p-tabPanel>


</p-tabView>





    </div>-->































































