.column-color{
  background-color: #4d4d4d;
  color: #fff;
}
.icon-pdf{
  background-color: red;
  color: #fff;
}

.icon-excel{
  background-color: green;
  color: #fff;

}
.icon-print{
  background-color: black;
  color: #fff;

}
