<div style="display: flex;justify-content: space-between;">
  <div style="display: flex;align-items: end;">
      <img src="assets/pdf/pm1/img/icono_transformador_white.avif" alt="Icono Transformer" class="icon-class" width="30" height="30"/>

    <h2 nz-typography style="    margin-bottom: 0em;">Transformador</h2>
  </div>



  <div class="actions">
    <button nz-button class="icon-pdf"  (click)="exportToPDF()" ><i nz-icon  nzType="file-pdf" nzTheme="outline" ></i></button>
    <button nz-button  class="icon-excel" (click)="exportToExcel()"><i nz-icon  nzType="file-excel" nzTheme="outline"  ></i></button>
    <button nz-button class="icon-print" (click)="printTable()"><i nz-icon  nzType="printer" nzTheme="outline"  ></i></button>
  </div>
</div>






<!-- Contenedor que envuelve la tabla -->
<div id="transformadorTableContainer">
  <!-- Tabla con datos filtrados -->
  <nz-table #transformadorTable [nzData]="listOfDisplayData"
  [nzBordered]="true"
    [nzFrontPagination]="false" [nzShowPagination]="false"
    [nzTotal]="listOfDisplayData.length"

    [nzLoading]="loading"


    >
    <thead>
      <tr>
        <th nzWidth="15%" class="column-color">SUBESTACIÓN
          <nz-input-group  style="margin-bottom: 10px;">
            <input nz-input [(ngModel)]="filterSubestacion" (ngModelChange)="applyFilters()"  />
          </nz-input-group>
        </th>
        <th nzWidth="15%" class="column-color">UBICACIÓN
          <nz-input-group  style="margin-bottom: 10px;">
            <input nz-input [(ngModel)]="filterUbicacion" (ngModelChange)="applyFilters()"  />
          </nz-input-group>
        </th>
        <th nzWidth="15%" class="column-color">TRANSFORMADOR
          <nz-input-group  style="margin-bottom: 10px;">
            <input nz-input [(ngModel)]="filterTransformador" (ngModelChange)="applyFilters()" />
          </nz-input-group>
        </th>
        <th nzWidth="10%" class="column-color">TIPO
          <nz-input-group  style="margin-bottom: 10px;">
            <input nz-input [(ngModel)]="filterTipo" (ngModelChange)="applyFilters()"  />
          </nz-input-group>
        </th>
        <th nzWidth="10%" class="column-color">MARCA
          <nz-input-group  style="margin-bottom: 10px;">
            <input nz-input [(ngModel)]="filterMarca" (ngModelChange)="applyFilters()"  />
          </nz-input-group>
        </th>
        <th nzWidth="10%" class="column-color">TENSIÓN (Kv)
          <nz-input-group  style="margin-bottom: 10px;">
            <input nz-input [(ngModel)]="filterVoltage" (ngModelChange)="applyFilters()"  />
          </nz-input-group>
        </th>
        <th nzWidth="15%" class="column-color">POTENCIA (MVA)

        <nz-input-group  style="margin-bottom: 10px;">
          <input nz-input [(ngModel)]="filterPotencia" (ngModelChange)="applyFilters()"  />
        </nz-input-group>
        </th>
        <th nzWidth="5%" class="column-color">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfDisplayData.slice()">
        <td>{{ item.subestacion }}</td>
        <td>{{ item.ubicacion }}</td>
        <td>{{ item.transformador }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.voltage }}</td>
        <td>{{ item.potencia }}</td>
        <td>
          <button nz-button nzType="default" nzSize="small" (click)="abrirpruebas(item.transformador, item.subestacion, item.voltage, item.potencia)">
            <i nz-icon nzType="eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
