





<div style="padding: 20px;" >

  <!-- Logo -->
  <div class="logo" style="position: absolute;">
    <img src="./assets/pdf/logo1.png" alt="Marcobre Logo" width="200" height="55" />
  </div>

  <!-- Tabs Navigation -->
  <nz-tabset >
    <!-- Tab 1: Quienes Somos -->
    <nz-tab nzTitle="Quienes Somos">
      <main class="main-content">
        <h1 class="title">Mantenimiento de electricidad & potencia</h1>
        <p class="description">
          Somos un gran equipo comprometido con el mantenimiento, operación y distribución de energía en Mina Justa.
        </p>
        <div class="grid">
          <!-- Vision Box -->
          <div class="box">
            <div class="box-header">Visión</div>
            <div class="box-content">
              Ser un equipo líder en el mantenimiento de sus activos, entregando resultados que agregan valor para todos en nuestra compañía Minera generando bienestar para nuestra familia.
            </div>
          </div>
          <!-- Mission Box -->
          <div class="box">
            <div class="box-header">Misión</div>
            <div class="box-content">
              Brindar un servicio de excelencia, maximizando la confiabilidad de los activos, impulsando el desarrollo humano y la mejora continua. Cumplimiento con los estándares de seguridad, medio ambiente y responsabilidad social. Enfocado en los procesos.
            </div>
          </div>
          <!-- Image -->
          <img
            src="./assets/pdf/login_imagen1.png"
            alt="Industrial Facility"
            class="image"
          />
        </div>
      </main>
    </nz-tab>

    <!-- Tab 2: Flujo del sistema eléctrico -->
    <nz-tab nzTitle="Flujo del sistema eléctrico">
      <main class="main-content">
        <img src="./assets/pdf/flujo_de_sistema_electrico.png" alt="">
      </main>
    </nz-tab>

    <!-- Tab 3: Activos del sistema eléctrico -->
    <nz-tab nzTitle="Activos del sistema eléctrico">
      <main class="main-content">
        <img src="./assets/pdf/activos_del_sistema_electrico.png" alt="">
      </main>
    </nz-tab>
  </nz-tabset>

   <!-- Footer -->
   <footer class="footer">
    <p>¡Mejoramos la vida transformando Minerales en bienestar¡</p>
  </footer>

</div>

