
<div class="container">
  <h2>TENDENCIA IMPEDANCIAS DE PAT POR SUB ESTACIÓN DE: <b>{{ tagSubestacion }}</b></h2>

  <br>


   <!-- Gráfico Método Sin Picas -->
   <div>

    <div id="metodo-sujecion" class="chart-container" style="width: 100% !important;height: 500px !important;"></div>
  </div>

  <!-- Gráfico Método de Caída -->
  <div>

    <div id="metodo-caida" class="chart-container" style="height: 500px !important;"></div>
  </div>

  <!-- Gráfico Método Selectivo -->
  <div>

    <div id="metodo-selectivo" class="chart-container" style="height: 500px !important;"></div>
  </div>


</div>
