<nz-sider *ngIf="drawerInfo.content.menu" [nzTheme]="siteStyle == 'menu' ? 'light' : 'light'"
    [ngClass]="{'fixed': navigationInfo.menu}"
    nzCollapsible [(nzCollapsed)]="DashboardService.isCollapsed" [nzTrigger]="null" style="    margin-top: 16px;">

    <!-- Ocultar la imagen cuando el sidebar está colapsado -->
    <img *ngIf="!DashboardService.isCollapsed" src="assets/img-menu.webp" class="w-full" height="80px"
         style="border-radius: 10px 10px 0px 0px;" />

    <!-- Menú de navegación -->
    <ul nz-menu class="left-menu" [nzTheme]="siteStyle == 'menu' ? 'light' : 'light'" nzMode="inline"
      [nzInlineCollapsed]="isCollapsed">
      <ng-container *ngFor="let menu of menuList">
        <!-- Elementos de menú sin hijos -->
        <li *ngIf="!menu.children" nz-menu-item nzMatchRouter>
          <a [routerLink]="menu.link">
            <i nz-icon [nzType]="menu.icon" nzTheme="outline"></i>
            <span>{{menu.title}}</span>
          </a>
        </li>

        <!-- Elementos de menú con hijos -->
        <li *ngIf="menu.children" nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon" routerLinkActive
          #rla="routerLinkActive" [nzOpen]="rla.isActive">
          <ul>
            <ng-container *ngFor="let childMenu of menu.children">
              <!-- Submenú sin hijos -->
              <li *ngIf="!childMenu.children" nz-menu-item nzMatchRouter>
                <a [routerLink]="childMenu.link">
                  <span>{{childMenu.title}}</span>
                </a>
              </li>

              <!-- Submenú con hijos -->
              <li *ngIf="childMenu.children" nz-submenu [nzTitle]="childMenu.title" routerLinkActive
                #rlaG="routerLinkActive" [nzOpen]="rlaG.isActive">
                <ul>
                  <ng-container *ngFor="let grandson of childMenu.children">
                    <li nz-menu-item nzMatchRouter>
                      <a [routerLink]="grandson.link">
                        <span>{{grandson.title}}</span>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
    </ul>
</nz-sider>
