<nz-collapse [nzBordered]="false" class="custom-panel">
  <!-- Panel para el gráfico Corriente y Potencia -->
  <nz-collapse-panel
    [nzActive]="true"
    [nzShowArrow]="false"
    nzClass="panel-heading-a"
    [nzHeader]="headerTemplateCorrientePotencia"
  >
    <ng-template #headerTemplateCorrientePotencia>
      <a title="Ir a Tendencias">
        TENDENCIAS DE POTENCIA - CORRIENTE- TEMPERATURAS- MANOVACUOMETRO <i class="fa fa-chart-line"></i> (VALORES REALES)
      </a>
    </ng-template>

    <div id="chart-container" class="container">
      <div id="chart-subtitles-top" class="chart-subtitles-top"></div>
      <div id="chart_valor_real" style="width: 100%; height: 485px;"></div>
      <div id="chart-subtitles-bottom" class="chart-subtitles-bottom"></div>
    </div>
  </nz-collapse-panel>

  <!-- Panel para el gráfico Testigo -->
  <nz-collapse-panel
    [nzActive]="true"
    [nzShowArrow]="false"
    nzClass="panel-heading-a"
    [nzHeader]="headerTemplateTestigo"
  >
    <ng-template #headerTemplateTestigo>
      <a title="Ir a Tendencias">
        TENDENCIAS DE TESTIGOS TEMPERATURAS- MANOVACUOMETRO <i class="fa fa-chart-line"></i>(VALORES TESTIGOS)
      </a>
    </ng-template>

    <div id="chart-container-testigo"  class="container">
      <div id="chart-subtitles-top-testigo" class="chart-subtitles-top"></div>
      <div id="chart_valor_testigo" style="width: 100%; height: 500px;"></div>
      <div id="chart-subtitles-bottom-testigo" class="chart-subtitles-bottom"></div>
    </div>
  </nz-collapse-panel>
</nz-collapse>


