<nz-collapse [nzBordered]="false" class="custom-panel">
  <!-- Panel para el gráfico Corriente y Potencia -->
  <nz-collapse-panel
    [nzActive]="true"
    [nzShowArrow]="false"
    nzClass="panel-heading-a"
    [nzHeader]="headerTemplateCorrientePotencia"
  >
    <ng-template #headerTemplateCorrientePotencia>
      <a title="Ir a Tendencias">
        TENDENCIAS DE POTENCIA - CORRIENTE- TEMPERATURAS- MANOVACUOMETRO <i class="fa fa-chart-line"></i> (VALORES REALES)
      </a>
    </ng-template>

    <div class="container">
      <div id="chartCorrientePotenciaDiv" style="width: 100%; height: 500px;"></div>
    </div>
  </nz-collapse-panel>

  <!-- Panel para el gráfico Testigo -->
  <nz-collapse-panel
    [nzActive]="true"
    [nzShowArrow]="false"
    nzClass="panel-heading-a"
    [nzHeader]="headerTemplateTestigo"
  >
    <ng-template #headerTemplateTestigo>
      <a title="Ir a Tendencias">
        TENDENCIAS DE TESTIGOS TEMPERATURAS- MANOVACUOMETRO <i class="fa fa-chart-line"></i>
      </a>
    </ng-template>

    <div class="container">
      <div id="chartTestigoDiv" style="width: 100%; height: 500px;"></div>
    </div>
  </nz-collapse-panel>
</nz-collapse>


