nz-layout{
  background: #fff;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
  text-align: center;
}



/* Asegúrate de que el layout tenga suficiente espacio para el sidebar */
.main-layout {
  margin-top: 60px;
  display: flex;
}

/* Sidebar con posición fija */
app-sidebar {
  position: fixed; /* Fija el sidebar en la pantalla */
  height: calc(100vh - 60px); /* Altura total menos el header */

  z-index: 1000; /* Para asegurarte de que esté encima de otros elementos si es necesario */
}

/* Ajuste del contenido principal */
.main-content {
  width: 100%;
  padding: 16px;
  background: #fff;
  height: calc(100vh - 64px); /* Ajusta el espacio restante */
  transition: margin-left 0.3s ease;
}







