
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
  text-align: center;
}

.main-layout {
  background: #fff;
  display: flex; /* Utilizamos Flexbox para organizar el Sidebar y el Content */
  margin-top: 60px;

}
.main-content{
  background: #fff;
  width: 100%;
  padding: 16px;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

nz-sider {
  background: #001529;

}









