

<main>
  <div>
        <ngx-extended-pdf-viewer
      [src]="'/assets/plantilla.pdf'"
      [showToolbar]="false"
      [showSidebarButton]="false"
      [showFindButton]="false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showPagingButtons]="false"
      [showZoomButtons]="false"
      [showPresentationModeButton]="false"
      [showHandToolButton]="false"
      [minZoom]="'190%'" [maxZoom]="'400%'"
      

      zoom="160%"
      [showSecondaryToolbarButton]="false"
      [handTool]="false"
      [showBorders]="false"
      [textLayer]="true">
      </ngx-extended-pdf-viewer>
  </div>
 
</main>







