

<main>
  <div>
        <ngx-extended-pdf-viewer
      [src]="'/assets/plantilla.pdf'"
      [showToolbar]="false"
      [showSidebarButton]="false"
      [showFindButton]="false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showPagingButtons]="false"
      [showZoomButtons]="false"
      [showPresentationModeButton]="false"
      [showHandToolButton]="false"
      [minZoom]="'190%'" [maxZoom]="'400%'"
      

      zoom="167%"
      [showSecondaryToolbarButton]="false"
      [handTool]="false"
      [showBorders]="false"
      [textLayer]="true">
      </ngx-extended-pdf-viewer>
  </div>
  <div>
    <button nz-button (click)="saveData()"><img src="assets/guardar.png" alt="Cargando..." style="width: 60px;height: 35px;"></button>
    <button nz-button (click)="VerPlano()"><img src="assets/plano.png" alt="Plano" style="width: 60px;height: 35px;"></button>

  </div>
</main>







