:host ::ng-deep .page {
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  margin: 0 auto !important;
}

:host ::ng-deep .annotationLayer {
  width: 100% !important;
  max-width: 100% !important;
  left: 0 !important;
  right: 0 !important;
}

:host ::ng-deep .pdfViewer {
  width: 100% !important;
  display: grid !important;
  grid-template-columns: 95% 5% !important;
  
}

:host ::ng-deep #viewerContainer {
  width: 100% !important;
  /*overflow: hidden !important;*/
  background: transparent !important;
}






:host ::ng-deep .custom-button-bar .pdf-action-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 10px;
}

:host ::ng-deep .custom-button-bar .pdf-action-btn:hover {
  transform: scale(1.1);
}

:host ::ng-deep .custom-button-bar img {
  
  height: 30px;
  object-fit: contain;
  
}
